footer {
    display: flex;
    height: 270px;
    background-color: #1c1c1c;
    color: #a9a9a9cc;
    justify-content: center;
}
span {
    font-size: 30px;
    color: white;
}

.content {
    padding-top: 30px ;
    display: flex;
    flex-direction: row;
}
.logo-foot {
    margin: 10px 0px;
}

.col {
    margin-top : 30px;
    margin-left: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.linkss {
    display: flex;
}
.linkss:hover {
    color: white;
}
.chopper-img-container {
    height: 100px;
}
.chopper-img {
    position: relative;
    bottom: 100px;
    height: 270px;
}
.row {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .chopper-img {
        height: 0px;
    }
    .content {
        flex-direction: column;
        margin-left: 20px;
    }
    footer {
        height: auto;
    }
    .linkss {
        font-size: 10px;
    }
    .row {
        flex-direction: row;
        margin-bottom: 30px;
    }
    .col span {
        font-size: 20px;
    }
}