footer {
    display: flex;
    height: 260px;
    background-color: #1c1c1c;
    color: #a9a9a9cc;
    justify-content: center;
}
span {
    font-size: 30px;
    color: white;
}

.content {
    padding-top: 30px ;
    display: flex;
    flex-direction: row;
}
.logo-foot {
    margin: 10px 0px;
}

.col {
    margin-top : 30px;
    margin-left: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.linkss {
    display: flex;
}
.linkss:hover {
    color: white;
}
.chopper-img {
    position: relative;
    bottom: 100px;
    height: 360px;
}