.nav-container {
    background-color: transparent;
    margin: 0.5vmax 12vmax 0 12vmax;
    padding: 0;
    height: 4vmax;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo-img {
    width: 200px;
}
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    margin-left: 2vmax;
}
.login {
    background-color: blueviolet;
    color: white;
    padding: 20px;
    border-radius: 50px;
}








/*!         For mobile devices          */

@media only screen and (max-width: 600px) {
    .nav-container {
        background-color: #222222;
        margin: 0;
        padding: 0 10px 0 10px;
        height: 9vmax;
    }
    .logo-img {
        width: 150px;
    }
    .logo {
        margin-left: 1vmax;
    }
    .login {
        padding: 9px;
    }
}